{% load static %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Property detail - Bomach group</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "./include/head.html" %}

</head>

<body>
{% include "./include/header_others.html" %}

<!-- page title area start here-->
<div class="page-title-area pt-70 pb-70" data-background="{% static 'assets/img/bomach/new/Bomach-Engineering.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-wrapper text-center">
                    <h1 class="page-title">{{ property.name }}</h1>
                    <div class="breadcrumb breadcrumb-list">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li  class="trail-item trail-begin">
                                    <a href="/property"><span >Properties</span></a>  
                                </li>
                                <li class="trail-item trail-end"><span>Property Details</span></li>
                            </ul>
                        </nav>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end here-->

<!-- service details area start here -->
<section class="service-details-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service__sidebar mb-50">
                    <div class="service__sidebar--widget tp-faqs-left-sidebar grey-soft-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <h4 class="service__sidebar--widget__title">property Info</h4>
                        <ul>
                            <li>ID : <span>{{ property.id }}</span></li>
                            <li>Name : <span>{{ property.name }}</span></li>
                            <li>Location : <span>{{ property.location }}</span></li>
                            <li>Date : <span>{{ property.date|date:'F j, Y' }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="service-details-wrapper mb-50">
                    <div class="service-details mb-30 fix wow fadeInUp"  data-wow-delay=".5s">
                        <img src="{{ property.image_url }}" class="img-fluid" alt="img">
                    </div>
                    <h4 class="service-details-subtitle mb-20 wow fadeInUp"  data-wow-delay=".9">{{ property.name }}</h4>
                    <div class="active-like-link">
                    <p class="mb-30 wow fadeInUp"  data-wow-delay=".7s">{{ property.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service details area end here -->

{% include "./include/footer.html" %}
{% include "./include/foot.html" %}

</body>
</html>